[submodule "external/UnityOptions"]
	path = external/UnityOptions
	url = git@github.com:Unity-Technologies/UnityOptions.git
[submodule "external/Cecil"]
	path = external/Cecil
	url = git@github.com:Unity-Technologies/cecil.git
	branch = unity-master
[submodule "external/NiceIO"]
	path = external/NiceIO
	url = git@github.com:lucasmeijer/NiceIO.git
